<!DOCTYPE html>
<html>
	<head>
		<title>Student Enrollment App</title>
		<link rel="stylesheet" href="../static/style.css">
		<script src="../static/script.js"></script>
	</head>
	<body>
		<div id="loginPage">
			<h1>University of D.E.B.</h1>
			
			<div>
				<p>USERNAME: <input type="text" id="username" placeholder="Enter Username"></p>
				<p>PASSWORD: <input type="password" id="password" placeholder="Enter Password"></p>
				<button onclick="signIn()">SIGN IN</button>
				<button onclick="create_account()">CREATE ACCOUNT</button>
			</div>
		</div>
	</body>
</html>
