<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Page</title>
    <script src="../static/app.js"></script>
	<link rel="stylesheet" href="../static/style.css">
</head>
<body>
	<div class="infoBox">
		<h1 class="titleText">CSU Bakersfield</h1>
		<div class="innerInfoBox">
			<p class="signInForms"><span>Username</span> <input type="text" id="username" placeholder="Enter Username"></p>
			<p class="signInForms"><span>Password</span> <input type="password" id="password" placeholder="Enter Password"></p>
			<button id="signInButton" onclick="signIn()">Sign In</button>
		</div>
		<div>
			<button onclick="create_account()">Create Account</button>
		</div>
    </div>
</body>
</html>
