<div class="infoBox">
    <h1 class="titleText">UC Merced</h1>
    <div class="innerInfoBox">
        <form id="loginForm">
            <p class="signInForms"><span>Username</span> <input type="text" id="username" placeholder="Enter Username"></p>
            <p class="signInForms"><span>Password</span> <input type="password" id="password" placeholder="Enter Password"></p>
            <button type="submit" class="primaryBtn" id="signInButton" onclick="event.preventDefault(); signIn()">Sign In</button>
        </form>
    </div>
    <div>
        <button class="secondaryBtn" onclick="createAccount()">Create Account</button>
    </div>
</div>