<div>
    <h1 id="greeting">Welcome {{ name }}!</h1>
    <div>
        <button onclick="showMyCourses_student()">My Courses</button>
        <button onclick="showAllCourses_student()">Add Courses</button>

        <div id="courseDisplay">
            <h3>Courses</h3>
            <table id="courseTable">
                <thead id="courseTableHead"></thead>
                <tbody id="courseTableBody"></tbody>
            </table>
        </div>
    </div>
    <div>
        <button onclick="signOut()">Sign Out</button>
    </div>
</div>
