<html>
	<head>
		<title>Student Page</title>
		<link rel="stylesheet" href="../static/style.css">
        <script src="../static/script.js"></script>
	</head>
	<body> <!-- Student table -->
        <!-- <div>
            <button onclick="showInfo()">Your Courses</button>
            <button onclick="showCourses()">Add Courses</button>
            <button onclick="signOut()">Sign Out</button>
        </div> -->
        
        <h1 id="greeting">Welcome {{name}}</h1>
        <div>
            <button onclick="showMyCourse_student()">My Course</button>
            <button onclick="showAllCourse_student()">All Course</button>
        </div>
        
        <div>
            <button onclick="signOut()">Sign Out</button>
        </div>
    </body>
</html>