<div>
    <h1 id="greeting">Welcome {{ name }}!</h1>
    <div> My Courses </div>
    <div id = "demo"> 
        <table id="courseTable">
            <thead id="courseTableHead">
                <tr>
                    <th>Course Name</th> <!-- access the students and their grade --> 
                    <th>Teacher</th>
                    <th>Time</th>
                    <th>Students Enrolled</th>
                    <!-- <th>Add/Drop</th> -->
                </tr>
            </thead>
            <tbody id="courseTableBody"></tbody>
        </table>
    </div>

    <!-- <button onclick="showMyCourses_teacher()">My Courses</button> -->
    <div>
		<button onclick="showMyCourses_teacher()">View All Courses</button>
        <button onclick="signOut()">Sign Out</button>
    </div>
</div>