<!DOCTYPE html>
<html lang="en">
<head>
    <title>Teacher Page</title>
    <script src="../static/app.js"></script>
    <script>
		window.addEventListener("load", (event) => {
			showMyCourses_teacher();
		});
	</script>
</head>
<body>
    <h1 id="greeting">Welcome {{ name }}!</h1>
    <div> My Courses </div>
    <div id = "demo"> 
        <table id="courseTable">
            <thead id="courseTableHead">
                <tr>
                    <th>Course Name</th> <!-- access the students and their grade --> 
                    <th>Teacher</th>
                    <th>Time</th>
                    <th>Students Enrolled</th>
                    <!-- <th>Add/Drop</th> -->
                </tr>
            </thead>
            <tbody id="courseTableBody"></tbody>
        </table>
    </div>

    <!-- <button onclick="showMyCourses_teacher()">My Courses</button> -->
    <div>
		<button onclick="showMyCourses_teacher()">View All Courses</button>
        <button onclick="signOut()">Sign Out</button>
    </div>
</body>
</html>
