<<!-- TEACHER TEMPLATE -->
<div class="infoBox">
    <div class="infoBar">
        <h1 id="greeting">Welcome {{ name }}!</h1>
        <button style="display: block;" onclick="signOut()">Sign Out</button>
    </div>
    <div id = "demo">
        <table id="courseTable">
            <thead id="courseTableHead">
                <tr>
                    <th>Course Name</th> <!-- access the students and their grade --> 
                    <th>Teacher</th>
                    <th>Time</th>
                    <th>Students Enrolled</th>
                    <!-- <th>Add/Drop</th> -->
                </tr>
            </thead>
            <tbody id="courseTableBody"></tbody>
        </table>
    </div>
    <div>
		<button onclick="showMyCourses_teacher()">View All Courses</button>
    </div>
</div>